# Ignore node_modules everywhere
node_modules/
**/node_modules/

# Ignore Next.js build output everywhere
.next/
**/.next/
*.tsbuildinfo
**/*.tsbuildinfo

# Next.js export out & Firebase cache
out/
**/out/
.firebase/
**/.firebase/

# Logs & OS files
*.log
npm-debug.log*
.DS_Store
Thumbs.db

